.main-page-container {
    margin-top: 50px
}

.bg-dark {
    background-color: #080808!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-brand {
    font-weight: 900;
}

.custom-button {
    background-color: #2bb0d8;
    color: #fff;
    border-radius: .125rem;
    padding-left: .875rem;
    padding-right: .875rem;
    font-size: 0.6875rem;
    margin-top: 5px;
}